* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: hsl(36, 100%, 99%);
    position: relative;
}




header,
main {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    padding: 2rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    max-width: 80px;
}

.logo img {
    width: 100%;
}

.navigation-icon {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    display: none;
}

.navigation-icon .bar {
    content: " ";
    width: 40px;
    height: 2px;
    background-color: #000;
}

nav {
    max-width: 600px;
}

@media (min-width: 768px) {
    .wrapper {
        display: none;
    }
}


.page-links {
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    cursor: pointer;
}

.page-links li:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.page-links a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}

.page-links a:hover {
    color: hsl(35, 77%, 62%);
}

.page-links li a:active {
    color: #fff;
}

/* Main */
.homepage-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
}

.hero-image {
    grid-column: span 2;
    grid-row: 1 / 2;
}

.hero-image img {
    width: 100%;
    object-fit: cover;
}

.mobile-hero-image {
    display: none;
}

.side-articles {
    max-width: 600px;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #000;
    padding: 1.5rem;
    padding-bottom: 0;
    color: #fff;
}

.news-heading {
    max-width: 400px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.news-heading h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 800;
}

.news-info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.news-info p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: hsl(236, 13%, 42%);
    margin-bottom: 1.5rem;
}

.bottom-articles {
    grid-row: 3 / 4;
}

.article-button {
    font-family: "Inter", sans-serif;
    width: 60%;
    padding: 1rem 1.5rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.article-button:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.2s ease-in;
}

.side-articles h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2.8rem;
}

.news-block {
    padding: 1.5rem 0.5rem;
    border-bottom: 1px solid hsl(236, 13%, 42%);
    transition: color 0.2s ease;
    cursor: pointer;
}

.news-block:hover {
    color: hsl(35, 77%, 62%);
}

.news-block:active {
    color: #fff;
}

.news-block:last-of-type {
    border-bottom: none;
}

.news-block h3 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.news-block p {
    color: hsl(233, 8%, 79%);
    line-height: 1.5;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.bottom-articles {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    grid-column: 1 / span 3;
    margin-top: 3rem;
}

.bottom-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0;
    border-bottom: none;
    color: hsl(240, 100%, 5%);
}

.bottom-block img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.bottom-block h3 {
    margin-top: 1rem;
}

.bottom-block p {
    color: hsl(236, 13%, 42%);
}

.bottom-block .article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-block:hover {
    color: hsl(5, 85%, 63%);
    background-color: #fff;
    transition: all 0.2s ease;
}

.bottom-block:active {
    color: #fff;
}

.article-number {
    font-size: 2rem;
    color: hsl(5, 85%, 63%);
    font-weight: 700;
}

/* Footer */
footer {
    width: 100%;
    margin-top: 5rem;
}

.attribution {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: hsl(213, 19%, 14%);
    padding: 20px 10px;
    font-size: 15px;
    text-align: center;
    color: hsl(0, 100%, 100%);
}

.attribution a {
    color: hsl(25, 97%, 53%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Small Screens Responsiveness */

@media (max-width: 980px) {
    .homepage-container {
        display: flex;
        flex-direction: column;
    }

    .bottom-articles {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    header {
        padding: 2rem 0 0;
    }

    header .logo {
        max-width: 50px;
    }

    nav {
        display: none;
    }

    .navigation-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .mobile-hero-image {
        display: block;
    }

    .desktop-hero-image {
        display: none;
    }

    .homepage-container {
        gap: 1rem;
    }

    .news-heading h1 {
        font-size: 2.5rem;
    }

    .news-info p {
        font-size: 15px;
    }

    .side-articles {
        margin-top: 3rem;
        padding-bottom: 1.5rem;
    }

    .side-articles h2 {
        font-size: 2rem;
    }

    .news-block {
        padding: 0;
    }

    .news-block h3 {
        font-size: 1.1rem;
        font-weight: 800;
    }

    .news-block p {
        margin: 1rem 0;
        font-size: 15px;
    }
    .article-button {
        font-size: 15px;
        padding: 1em 1.5em;
    }

    /* Wrapper styles */
    .wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0000007c;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-out;
        z-index: 999;
    }

    .wrapper.show {
        opacity: 1;
        visibility: visible;
    }

    .menu-area {
        width: 60%;
        height: 100%;
        background-color: #fff;
        padding: 5rem 1.5rem;
        position: fixed;
        top: 0;
        right: -100%;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: all 0.3s ease-out;
    }

    .menu-area.active {
        right: 0;
    }

    .cross-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        padding: 2.5rem 1rem;
    }

    .cross-icon .first {
        transform: rotate(43deg);
        margin-bottom: -2px;
    }

    .cross-icon .second {
        transform: rotate(135deg);
    }

    .cross-line {
        content: " ";
        width: 40px;
        height: 2px;
        background-color: hsl(240, 100%, 5%);
    }

    .menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.3rem;
        justify-content: center;
        margin-top: 5rem;
    }

    .menu li a {
        text-decoration: none;
        color: hsl(240, 100%, 5%);
    }

    .menu li a:hover {
        color: hsl(35, 77%, 62%);
    }

    .menu li a:active {
        color: #fff;
    }

    .bottom-block img {
        width: 100px;
        height: 150px;
        object-fit: cover;
    }

    .bottom-articles .article-number {
        font-size: 1.7rem;
    }
}